{% extends 'base.html' %}
  {% block title %} Профиль пользователя {{ user }} {% endblock %}
{% block content %}
<div class="container py-5">
    <h1>Все посты пользователя {{ user }}</h1>
    <h3>Всего постов: {{ post_quantity }} </h3>
    <article>
      {% for post in page_obj %}
        <ul>
          <li>
            Автор: {{ user }}
            <a href= "{% url 'posts:profile' user %}"> Все посты пользователя</a>
          </li>
          <li>
            Дата публикации: {{ post.pub_date|date:"d E Y" }}
          </li>
        </ul>
        <p>
          {{ post.text }}
        </p>
        <a href="{% url 'posts:post_detail' post.pk %}"> Подробная информация</a>
        <p>
          {% if post.group %}   
            <a href="{% url 'posts:group_posts' post.group.slug %}">Все записи группы</a>
          {% endif %}
        </p>
        </article>
        {% if not forloop.last %}<hr>{% endif %}
      {% endfor %}
    </div>
  {% include 'posts/includes/paginator.html' %}
{% endblock %}

